body *{font-family: 'Gothic+A1';}
input[type='checkbox']{display: none !important;}



@media screen and (max-width:767px){
    *{
        margin:0; padding:0;
    }
    header{
        display: flex;
    }
    header .mainLogo{
        width: 30%;
    }
    header .mainLogo h1{
        text-align: left;
    }
    header .mainLogo h1 a{
        display: block;
    }
    header .mainLogo h1 a img{
        width: 100%;
    }
    header nav.dui{
        display: none;
    }
    header nav.mui{
        display: block;
        width: 70%;
    }
    header > nav.mui div input[type='checkbox']#mui_1+ul.model{
        height:0;
        overflow: hidden;
        transition-duration: 0.8s;
    }
    header > nav.mui div input[type='checkbox']#mui_1:checked+ul.model{
        height: 55vh;
    }
    header > nav.mui div input[type='checkbox']#mui_2+ul.menu{
        height:0;
        overflow:hidden;
        transition-duration:0.75s;
    }
    header > nav.mui div input[type='checkbox']#mui_2:checked+ul.menu{
        height:50vh;
    }
    /*burger Fin*/
    header nav.mui > div{
        text-align: right;
        padding-top: 5%;
        padding-right: 5%;
    }
    header nav.mui > div label{
        display: inline-block;
        padding: 2% 0;
        box-sizing: border-box;
        font-size: 4vw;
    }
    header nav.mui > div label{
        border-bottom: 1px solid black;
    }
    header nav.mui ul{
        width: 100%;
        text-align: left;
    }
    header nav.mui ul li{
        width: 100%;
        list-style: none;
        line-height: 5vh;
        vertical-align: middle;
    }
    header nav.mui ul li a{
        text-decoration: none;
        color: black;
    }
    header nav.mui ul.model li a{
        font-size: 6vw; font-weight: 300;
    }
    header nav.mui ul.menu li a{
        font-size: 4vw; font-weight: 400;
    }
    header nav.mui ul li a i{
        color: #d5001c; margin-right: 2%;
    }
    header nav.mui ul > li ol{
        width: 100%; padding: 0 3%;
        background-color: #e4e4e4;
    }
    header nav.mui ul > li ol > li{
        display: none;
    }
    header nav.mui ul > li:hover ol >li{
        display: block;
        font-size: 4vw;
        transition: 0.75s;
    }
    header nav.mui ul > li ol > li i{
        margin-right: 2%;
    }
   /* header Fin*/

   footer .footerLogo{
    position: relative;
    width: 100%; height: 104px; margin-bottom: 20px;
    }
    footer .footerLogo h2{
        text-align: center; line-height: 0;
    }
    footer .footerLogo h2 a{
        display: block; 
        position: absolute;
        left: 29%; top: 0%;
        z-index: 100;
    }
    footer .footerLogo h2 a img{
        display: 30%;
    }
    footer .footerLogo hr{
        position: absolute;
        width: 100%;
        left: 0%; top: 55%;
        border: 0;
        height: 1px;
        background: #c8cacb;
        z-index: 10;
    }
    footer form:first-of-type fieldset{
        margin-bottom: 10%;
    }
    footer form:first-of-type fieldset ul{
        display: flex;
        flex-flow: row wrap;
        margin-left: 15%;
    }
    footer form:first-of-type fieldset ul li{
        flex-grow: 1; flex-basis: 100%;
        display: inline-block; list-style: none;
    }
    footer form:first-of-type fieldset ul li select {
        width: 80%;
        font-size: 4vw; font-weight: 300;
        padding: 2% 4%; box-sizing: border-box;
        background-color: white;
        border-bottom: 1px solid #c8cacb;
        border-top: none; border-left: none; border-right: none;
    }
    footer form:first-of-type fieldset ul li select option{
        font-size: 1vw; padding: 2% 4%; box-sizing: border-box;
    }
    footer form:nth-of-type(2){
        background-color: #191f22; width: 100%; height: 100%;
    }
    footer form:nth-of-type(2) fieldset{
        text-align: center; vertical-align: middle;
        padding: 5% 0;
    }
    footer form:nth-of-type(2) fieldset label{
        font-size: 4vw; color: white; line-height: 3vw;
    }
    footer form:nth-of-type(2) fieldset select{
        background-color: #313639; color: white; border: none;
        font-size: 3vw; padding: 5px 10px;
    }
    footer form:nth-of-type(2) fieldset select optgroup{
        color: black;
    }
    footer form:nth-of-type(2) fieldset select optgroup option{
        color: white;
    }
    footer .legal{
        width: 90%; padding: 2%;color: white;
        border-top: 1px solid #494e51; margin: 0 auto;
    }
    footer .legal p{
        text-align: left; font-size: 3vw; line-height: 4vw; padding: 0 2%;
    }
}
/*mobile*/

@media screen and (min-width:768px) and (max-width:1279px){
    *{
        margin:0; padding:0;
    }
    header .mainLogo{
        height: 100%
    }
    header .mainLogo h1{
        text-align: center;
    }
    header nav.mui{
        display: none;
    }
    
    header nav.dui{
        position:relative; width: 100%;
    }
    header nav.dui > ul{
        display: flex; position: absolute; width: 100%;
    }
    header nav.dui > ul:hover > li{
        background-color: white;
    }
    header nav.dui > ul:hover > li *{
        color: black;
    }
    header nav.dui > ul li{
        list-style: none; border: none;
        cursor: pointer;
        vertical-align: middle;
    }
    header nav.dui > ul li > a{
        color: white;
        flex: auto;
        font-weight: 400; font-size: 2vw;
        text-decoration: none;
        display: inline-block;
    }
    header nav.dui > ul li:hover *{
        color: black;
    }
    header nav.dui > ul li:hover > a{
        color: #d5001c;
    }
    header nav.dui > ul > li{
        display: block;
        text-align: center;
        line-height: 4.2vw;
        box-sizing: border-box;
        z-index: 100;
    }
    header nav.dui > ul > li:nth-child(1){
        width: 10%;
    }
    header nav.dui > ul > li:nth-child(2){
        width: 15%;
    }
    header nav.dui > ul > li:nth-child(3){
        width: 30%;
    }
    header nav.dui > ul > li:nth-child(4){
        width: 25%;
    }
    header nav.dui > ul > li:nth-child(5){
        width: 20%;
    }

    header nav.dui > ul li ol{
        position:absolute;
        left:0; top: 4.4vw;
        width: 100%; height: 100%;
        text-align: left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 0;
        overflow: hidden;
        transition: heigth 0.75s ease-in-out;
    }
    header nav.dui > ul > li:hover ol{
        height: 40vw;
        animation-name: heigth;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }
    header nav.dui > ul > li ol > li{
        display: block;
        background-color: white; box-sizing: border-box;
        width: 25%;
        padding-left: 1%;
    }
    header nav.dui > ul > li ol > li > a{
        font-size: 2vw; font-weight: 300;
        line-height: 6.7vw;
    }
    header nav.dui > ul >li:nth-of-type(2) ol > div{
        background-color: white; width: 25%; height: 100%;
        padding-left: 1%;
    }
    header nav.dui > ul > li:nth-of-type(2):hover ol > div li{
        display: block;
        background-color: white; box-sizing: border-box;
        font-size: 1vw;
        line-height: 5vh; padding-left: 1%;
    }
    header nav.dui > ul > li:nth-of-type(2):hover ol > div li a{
        width: 100%; display: inline-block;
    }
    header nav.dui > ul > li:nth-of-type(2):hover ol > div li:hover a{
        border-bottom: 0.2vw solid #d5001c;
    }
    header nav.dui > ul > li ol > li > a{
        position: relative; display: block; text-align: left;
    }
    header nav.dui > ul > li ol > li > a img{
        display: none;
    }
    header nav.dui > ul > li:hover > a,
    header nav.dui > ul > li:hover ol > li:hover > a,
    header nav.dui > ul > li ol > li ul li > a:hover{
        border-bottom: 0.2vw solid #d5001c;
    }
    header nav.dui > ul > li ol > li:hover ul{
        height: 30vh;
        animation-name: width;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;   
    }
    header nav.dui > ul > li ol > li ul{
        background-color: white;
        position: absolute;
        left: 25%; top:0;
        width: 25%; height: 100%;
        height: 0;
        overflow: hidden;
        transition: heigth 0.75s ease-in-out;

    }
    header nav.dui > ul > li ol > li ul li{
        width: 100%;
        line-height: 5vh; padding-left: 2%; box-sizing: border-box;
        animation-name: heigth;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }
    header nav.dui > ul > li ol > li ul li a{
        display: block; text-align: left; padding-left: 2%;
        font-size: 1.5vw; line-height: 3vw;
    }
    header nav.dui > ul > li ol > li ul li:hover{
        color: #d5001c; box-sizing: border-box;
    }
    
    header nav.dui > ul > li ol > li ul li:hover table{
        display: table; width: 100%;
    }
    header nav.dui > ul > li ol > li ul li table{
        
        box-sizing: border-box; width: 100%;
        background-color: #e4e4e4; display: none;
        font-size: 1vw; font-weight: 300; line-height: 2vh;
    }
    header nav.dui > ul > li ol > li ul li table tr{
        width: 100%; padding: 0;
    }
    header nav.dui > ul > li ol > li ul li table tr th{
        width: 35%; padding-left: 1.5vw;
        font-size: 1vw; font-weight: 300;
        text-align: left; 
        border-bottom: 1px solid #ccc;
    }
    header nav.dui > ul > li ol > li ul li table tr td{
        width: 65%; padding-right: 1.5vw;
        text-align: right; font-size: 1vw;
        border-bottom: 1px solid #ccc;
    }
    header nav.dui > ul > li ol > li ul li table tr:last-of-type th,
    header nav.dui > ul > li ol > li ul li table tr:last-of-type td{border-bottom: none;}
    header nav.dui > ul > li:nth-of-type(2) > ol{
        background-image: url("../images/used.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    header nav.dui > ul > li:nth-of-type(3) > ol{
        background-image: url("../images/motorsports.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    header nav.dui > ul > li:nth-of-type(4) > ol{
        background-image: url("../images/services.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;        
    }
    header nav.dui > ul > li:nth-of-type(5) > ol{
        background-image: url("../images/company.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;        
    }
    @keyframes heigth {
        0% {
            height: 0;
            opacity: 0.1;
        }
        100% {
            height: 30vh;
            opacity: 1;
        }
    }

    @keyframes width{
        0%{
            width: 0;
            opacity: 0.1;
        }
        100%{
            widows: 100%;
            opacity: 1;
        }
    }
    @keyframes slideInLeft {
        from {
            transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }

        to {
            transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
   /* header Fin*/

   footer .footerLogo{
    position: relative;
    width: 100%; height: 104px; margin-bottom: 20px;
    }
    footer .footerLogo h2{
        text-align: center; line-height: 0;
    }
    footer .footerLogo h2 a{
        display: inline-block; 
        position: absolute;
        left: 40%; top: 0%;
        z-index: 100;
    }
    footer .footerLogo h2 a img{
        display: 100%;
    }
    footer .footerLogo hr{
        position: absolute;
        width: 70%;
        left: 15%; top: 55%;
        border: 0;
        height: 1px;
        background: #c8cacb;
        z-index: 10;
    }
    footer form:first-of-type fieldset{
        margin-bottom: 10%;
    }
    footer form:first-of-type fieldset ul{
        display: flex;
        flex-flow: row wrap;
        margin-left: 15%;
    }
    footer form:first-of-type fieldset ul li{
        flex-grow: 1; flex-basis: 100%;
        display: inline-block; list-style: none;
    }
    footer form:first-of-type fieldset ul li select {
        width: 80%; background-color: white;
        font-size: 2vw; font-weight: 300;
        padding: 2% 4%; box-sizing: border-box;
        border-bottom: 1px solid #c8cacb;
        border-top: none; border-left: none; border-right: none;
    }
    footer form:first-of-type fieldset ul li select option{
        font-size: 2vw; padding: 2% 4%; box-sizing: border-box;
    }
    footer form:nth-of-type(2){
        background-color: #191f22; width: 100%; height: 100%;
    }
    footer form:nth-of-type(2) fieldset{
        text-align: center; vertical-align: middle;
        margin-bottom: 20px; padding: 2%;
    }
    footer form:nth-of-type(2) fieldset label{
        font-size: 2vw; color: white; line-height: 3vw;
    }
    footer form:nth-of-type(2) fieldset select{
        background-color: #313639; color: white; border: none;
        font-size: 2vw; padding: 5px 10px;
    }
    footer form:nth-of-type(2) fieldset select optgroup{
        color: black;
    }
    footer form:nth-of-type(2) fieldset select optgroup option{
        color: white;
    }
    footer .legal{
        width: 70%; padding: 2%;
        border-top: 1px solid #494e51; margin: 0 auto;
    }
    footer .legal p{
        text-align: left; color: white;
        font-size: 1.5vw; line-height: 3vw; 
        padding: 0 2%;
    }
}
/*tablet*/

@media screen and (min-width:1280px){
    *{
        margin:0; padding:0;
    }
    header{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        width: 70%; margin: auto;
    }
    header div.mainLogo{
        position: absolute; left: 3%; flex: auto;
        z-index: 100;
    }
    header .mainLogo h1{text-align: center; width: 100%; height: 100%;}
    header .mainLogo h1 a{display: block; width: 100%; height: 100%;}
    header .mainLogo h1 a img{width: 100%;}
    header > nav.mui label{display:none;}
    header > nav.mui label:before{display:none;}
    header > nav.mui{display: none;}
    header nav.dui{
        width: 100%; height: 100%; position: absolute; top: 0;
        z-index: 10;
    }
    header nav.dui:hover{
        background-color: white; height: 100%;
    }
    header nav.dui > ul{
        display: flex; position: absolute; left: 0; top: 0;
        width: 100%; height: 100%;
    }
    header nav.dui > ul:hover > li{
        background-color: white;
    }
    header nav.dui > ul:hover > li *{
        color: black;
    }
    header nav.dui > ul li{
        list-style: none; border: none;
        cursor: pointer;
        vertical-align: middle;
    }
    header nav.dui > ul li > a{
        color: white;
        flex: auto;
        font-weight: 400; 
        text-decoration: none;
        display: inline-block;
    }
    header nav.dui > ul li:hover *{
        color: black;
    }
    header nav.dui > ul li:hover > a{
        color: #d5001c;
    }
    header nav.dui > ul > li{
        display: inline-block;
        font-size: 18px;
        line-height: 25px; padding: 52px 0;
        box-sizing: border-box;
        z-index: 100;
    }
    header nav.dui > ul > li:nth-child(1){
        width: 20%; text-align: right;
    }
    header nav.dui > ul > li:nth-child(2){
        width: 20%; text-align: center;
    }
    header nav.dui > ul > li:nth-child(3){
        width: 20%; text-align: left;
    }
    header nav.dui > ul > li:nth-child(4){
        width: 20%; text-align: left;
    }
    header nav.dui > ul > li:nth-child(5){
        width: 20%; text-align: left;
    }
    header nav.dui > ul > li ol{
        position:absolute;
        left:0; top: 104px;
        width: 100%; height: 100%;
        text-align: left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 0;
        overflow: hidden;
        transition: heigth 0.75s ease-in-out;
        
    }
    header nav.dui > ul > li:hover ol{
        height: 600px;
        animation-name: heigth;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }
    header nav.dui > ul > li ol > li{
        display: block;
        background-color: white; box-sizing: border-box;
        width: 25%; height: 100px;
        font-size: 16px;
        line-height: 80px;
        padding-left: 1%;
    }
    header nav.dui > ul >li:nth-of-type(2) ol > div{
        background-color: white; width: 20%; height: 100%;
    }
    header nav.dui > ul > li:nth-of-type(2):hover ol > div li{
        display: block;
        background-color: white; box-sizing: border-box;
        line-height: 80px; padding-left: 1%;
    }
    header nav.dui > ul > li:nth-of-type(2):hover ol > div li:hover{
        border-bottom: 2px solid #d5001c;
    }
    header nav.dui > ul > li ol > li > a{
        position: relative; display: block; text-align: left;
    }
    header nav.dui > ul > li ol > li > a img{
        position: absolute; right: 20px;
    }
    header nav.dui > ul > li:hover > a,
    header nav.dui > ul > li:hover ol > li:hover,
    header nav.dui > ul > li ol > li ul li > a:hover{
        border-bottom: 2px solid #d5001c;
    }
    header nav.dui > ul > li ol > li:hover ul{
        height: 600px;
        animation-name: width;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;   
    }
    header nav.dui > ul > li ol > li ul{
        background-color: white;
        position: absolute;
        left: 25%; top:0;
        width: 20%; height: 100%;
        height: 0;
        overflow: hidden;
        transition: heigth 0.75s ease-in-out;

    }
    header nav.dui > ul > li ol > li ul li{
        width: 100%;
        line-height: 30px; padding-left: 2%; box-sizing: border-box;
        animation-name: heigth;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }
    header nav.dui > ul > li ol > li ul li a{
        display: block; text-align: left;
    }
    header nav.dui > ul > li ol > li ul li:hover{
        color: #d5001c; box-sizing: border-box;
    }
    
    header nav.dui > ul > li ol > li ul li a:hover + table{
        display: inline-table; width: 100%;
    }
    header nav.dui > ul > li ol > li ul li table{
        box-sizing: border-box; width: 100%;
        background-color: #e4e4e4; display: none;
        font-size: 16px; font-weight: 300; line-height: 30px;
    }
    header nav.dui > ul > li ol > li ul li table tr{
        width: 100%;
    }
    header nav.dui > ul > li ol > li ul li table tr th{
        width: 50%; padding-left: 10px;
        font-size: 16px; font-weight: 300;
        text-align: left; border-left: 10px;
        border-bottom: 1px solid #ccc;
    }
    header nav.dui > ul > li ol > li ul li table tr td{
        width: 50%; padding-right: 20px;
        text-align: right;
        border-bottom: 1px solid #ccc;
    }
    
    header nav.dui > ul > li ol > li ul li table tr:last-of-type th,
    header nav.dui > ul > li ol > li ul li table tr:last-of-type td{border-bottom: none;}
    header nav.dui > ul > li:nth-of-type(2) > ol{
        background-image: url("../images/used.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    header nav.dui > ul > li:nth-of-type(3) > ol{
        background-image: url("../images/motorsports.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    header nav.dui > ul > li:nth-of-type(4) > ol{
        background-image: url("../images/services.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;        
    }
    header nav.dui > ul > li:nth-of-type(5) > ol{
        background-image: url("../images/company.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;        
    }
    @keyframes heigth {
        0% {
            height: 0;
            opacity: 0.1;
        }
        100% {
            height: 600px;
            opacity: 1;
        }
    }

    @keyframes width{
        0%{
            width: 0;
            opacity: 0.1;
        }
        100%{
            widows: 100%;
            opacity: 1;
        }
    }
    @keyframes slideInLeft {
        from {
            transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }

        to {
            transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
   /* header Fin*/

    footer .footerLogo{
        position: relative;
        width: 70%; height: 104px; margin: auto;
    }
    footer .footerLogo h2{
        text-align: center; line-height: 0;
    }
    footer .footerLogo h2 a{
        display: inline-block; 
        position: absolute;
        left: 46%; top: 0%;
        z-index: 100;
    }
    footer .footerLogo h2 a img{
        display: 100%;
    }
    footer .footerLogo hr{
        position: absolute;
        width: 100%;
        top: 55%;
        border: 0;
        height: 1px;
        background: #c8cacb;
        z-index: 10;
    }
    footer form:first-of-type fieldset{
        margin-bottom: 50px; text-align: center;
        display: block; 
    }
    footer form:first-of-type fieldset ul{
        display: flex; width: 50%; margin: 0 auto;
    }
    footer form:first-of-type fieldset ul li{
        
        list-style: none; width: 25%;
    }
    footer form:first-of-type fieldset ul li select {
        font-size: 16px; font-weight: 300;
        padding: 5px 10px; box-sizing: border-box;
        border: 1px solid #c8cacb;
    }


    footer form:nth-of-type(2){
        background-color: #191f22; width: 100%; height: 100%;
    }
    footer form:nth-of-type(2) fieldset{
        text-align: center; vertical-align: middle;
        margin-bottom: 20px;
    }
    footer form:nth-of-type(2) fieldset label{
        font-size: 16px; color: white; line-height: 50px;
    }
    footer form:nth-of-type(2) fieldset select{
        background-color: #313639; color: white; border: none;
        font-size: 14px; padding: 5px 10px;
    }
    footer form:nth-of-type(2) fieldset select optgroup{
        color: black;
    }
    footer form:nth-of-type(2) fieldset select optgroup option{
        color: white;
    }
    footer .legal{
        padding: 30px; width: 50%;
        font-size: 14px; line-height: 30px; color: white;
        border-top: 1px solid #494e51; margin: 0 auto;
    }
    footer .legal p{
        width: 100%; margin: auto;
        text-align: left;
    }
}
/*desktop*/
